{
    "parser": "@typescript-eslint/parser", // uses babel-eslint transforms
    "settings": {
        "react": {
            "version": "detect" // detect react version
        }
    },
    "env": {
        "node": true // defines things like process.env when generating through node
    },
    "extends": [
        "eslint:recommended", // use recommended configs
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-anonymous-exports-page-templates": "off",
        "limited-exports-page-templates": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "semi": [
            "error",
            "always"
        ],
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "react/display-name": "off",
        "@typescript-eslint/no-empty-function": "off",
        "no-irregular-whitespace": "off"
    }
}